---
title: "Catalogo de Autos"
---

<astro-fragment>
    <h1>Catálogo de Autos</h1>
    <ul>
        <li>
            <h2>Nombre del Auto</h2>
            <p>Descripción del auto</p>
            <p>Precio: $XXX</p>
        </li>
    </ul>
</astro-fragment>