---
const user = Astro.locals.user;
import Layout from "../layouts/Layout.astro";
import Label from "../components/Label.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Index</title>
  </head>
  <body>
    {
      user ? (
        <div class="flex flex-col gap-2">
          <form method="POST" action="/api/signout">
            <button class="underline">Sign out</button>
          </form>
          <a class="underline" href="/seller">
            {" "}
            Go to the admin page
          </a>
        </div>
      ) : (
        <main>
          <Layout title="Autocom">
            <Label />
          </Layout>
          <h3>
            
          </h3>
          <div class="flex flex-col gap-2">
            <a class="underline" href="/signin">
              Sign In With Username/Password
            </a>
          </div>
        </main>
      )
    }
  </body>
</html>


<style>
	html{
		background-image: url("../img/cover.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
	}

	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		color: rgb(5, 0, 0);
		font-size: 20px;
		line-height: 1.6;
	}

  .underline {
    color: azure;
  }
</style>
