---
interface Props {
    
}
---

<main>
    <img src="/src/img/label.png" alt="autocom-label" class="label">
</main>

<style>
    .label {
        display: flex;
        max-width: 550px;
        margin: 2rem;
    }
</style>