---
interface Props {
    
}
---

<main>
    <img src="./src/img/label.png" alt="autocom-label" class="label">
</main>

<style>
    .label {
        display: flex;
        width: 25%;
        margin: 1rem;
    }
</style>